<li class="nav__item {% if request.path == '/' or request.path != '/follows/' and request.path != '/new/' and request.path != '/favorites/' and request.path != '/purchase/' %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
{% if user.is_authenticated %}
<li class="nav__item {% if request.path == '/follows/' %}nav__item_active{% endif %}"><a href="{% url 'follows' %}" class="nav__link link">Мои подписки</a></li>
<li class="nav__item {% if request.path == '/new/' %}nav__item_active{% endif %}"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
<li class="nav__item {% if request.path == '/favorites/' %}nav__item_active{% endif %}"><a href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>
<li class="nav__item {% if request.path == '/purchase/' %}nav__item_active{% endif %}"><a href="{% url 'purchase' %}" class="nav__link link">Список покупок</a>
<span class="badge badge_style_blue nav__badge" id="counter">{{ purchase_count }}</span></li>
{% endif %}