{% extends "base.html" %}
{% block title %}Изменить пароль{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}
<div class="main__header">
    <h1 class="main__title">Изменить пароль</h1>
</div>
{% endblock %}
{% block content %}
{% load user_filters %}
<div class="form-container">
    <form class="form" method="post">
        {% csrf_token %}
        <div class="form__group">
            <label for="{{ form.old_passwords.id_for_label }}" class="form__label">Старый пароль</label>
            <div class="form__field-group">
                <input type="password" name="old_password" id="id_oldPassword" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.new_password1.id_for_label }}" class="form__label">Новый пароль</label>
            <div class="form__field-group">
                <input type="password" name="new_password1" id="id_newЗassword1" class="form__input">
                <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.new_password2.id_for_label }}" class="form__label">Подтверждение нового пароля</label>
            <div class="form__field-group"> <!-- Где-то тут -->
                <input type="password" name="new_password2" id="id_newЗassword2" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Изменить пароль</button>
            </div>
            {% if form.errors %}
                <span class="form__error">{{ form.errors }}</span>
            {% endif %}
    </form>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
