{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %}
<div class="main__header">
    <h1 class="main__title">Пароль успешно изменён</h1>
</div>
{% endblock %}
{% block content %}
<div class="custom-button-block">
    <a href="{% url 'index' %}" class="button button_style_blue">
        Перейти на главную
    </a>
</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}