<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% load recipe_filters %}
        {% if items.has_previous %}
                <li class="pagination__item"><a class="pagination__link link" href="{{ request.get_full_path|append_url_param:items.previous_page_number }}"><span class="icon-left"></span></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
                {% if items.number == i %}
                <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">{{ i }}</a></li>
                {% else %}
                <li class="pagination__item"><a class="pagination__link link" href="{{ request.get_full_path|append_url_param:i }}">{{ i }}</a></li>
                {% endif %}
        {% endfor %}
        {% if items.has_next %}
                <li class="pagination__item"><a class="pagination__link link" href="{{ request.get_full_path|append_url_param:items.next_page_number }}"><span class="icon-right"></span></a></li>
        {% endif %}
    </ul>
</nav>

<!-- {{ request.META.QUERY_STRING|append_url_param:'lang=id' }} -->